@model IEnumerable<QLSinhVien_ASP.NET_Core_EF.ViewModels.GVViewModels>
@{
    ViewData["Title"] = "Danh sách giáo viên";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Header Area -->
<header class="header">
    <!-- Header Inner -->
    <div class="header-inner" style="padding-top: 30px;">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="~/images/logo_dhdn1.png" alt="#" style="width:200px;height:75px; object-fit:contain"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li><a href="/Home/Index">Trang chủ</a></li>
                                    <li><a href="/Home/KhoaList">Khoa </a></li>
                                    <li><a href="/Home/GVList">Giáo viên </a></li>
                                    <li><a href="/Home/SVList">Sinh viên </a></li>
                                    <li><a href="/Home/LopSHList">Lớp SH </i></a></li>
                                    <li><a href="/Home/LopHPList">Lớp HP</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a href="/Manage/KhoaManage" class="btn">Trang quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->
<section class="Feautes section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title" style="margin-top:50px">
                    <h2>Danh sách giáo viên</h2>
                    <img src="~/images/section-img.png" alt="#">
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: end;">
            <div style="margin-right: 15px;">
                <form action="/Home/GiaoVienSearch">
                    <input name="s" type="text" placeholder="Tìm kiếm giáo viên" style="padding: 10px; width: 400px;">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Single News -->

<section class="news-single section">
    <div class="container" style="max-width: 2000px; padding-left: 150px; padding-right: 150px; padding-bottom: 80px; margin-top: -90px;">


        <div class=" col-12">
            <div class="main-sidebar">
                <div class="single-widget category" >
                    <table>
                        <tr>
                            <th>Tên giáo viên</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Tên khoa</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenGV</td>
                                <td>@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                                <td>@item.SDT</td>
                                <td>@item.Email</td>
                                <td>@item.TenKhoa</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>