@model Tuple<QLSinhVien_ASP.NET_Core_EF.Models.LopSh, List<QLSinhVien_ASP.NET_Core_EF.Models.GiaoVien>>

@{
    ViewData["Title"] = "EditLopSH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Area -->
<header class="header">
    <!-- Header Inner -->
    <div class="header-inner" style="padding-top: 30px;">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="~/images/logo-benxe.png" alt="#" style="width:133px;height:60px;"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li><a href="/Home/Index">Trang chủ</a></li>
                                    <li><a href="/Manage/KhoaManage">Khoa </a></li>
                                    <li><a href="/Manage/GVManage">Giáo viên </a></li>
                                    <li><a href="/Manage/SVManage">Sinh viên </a></li>
                                    <li><a href="/Manage/LopSHManage">Lớp SH </a></li>
                                    <li><a href="/Manage/LopHPManage">Lớp HP</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a href="/Manage/KhoaManage" class="btn">Trang quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->
<section class="contact-us section">
    <div class="container">
        <div class="inner">
            <div class="row" style="justify-content: center; margin-bottom:300px;">
                <div class="col-lg-8">
                    <div class="contact-us-form">
                        <h2>Chỉnh sửa</h2>
                        <!-- Form -->
                        <form class="form" method="post" action="/Manage/EditLopSH">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>ID Lớp sinh hoạt</label>
                                        <div class="input-group">
                                            <span class="form-control" id="idlopsh">@Model.Item1.IdLopSh</span>
                                            <input type="hidden" name="idlopsh" value="@Model.Item1.IdLopSh" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Lớp sinh hoạt</label>
                                        <input type="text" name="tenlopsh" value="@Model.Item1.TenLopSh" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <input type="text" name="mota" value="@Model.Item1.MoTa" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <style>
                                            .nice-select {
                                                width: 310px;
                                                height: 50px;
                                            }

                                            .current {
                                                display: block;
                                                padding: 10px;
                                            }
                                        </style>
                                        <label>Giáo viên chủ nhiệm</label>
                                        <select name="idgiaovien">
                                            @foreach (var item in Model.Item2)
                                            {
                                                if (item.IdGiaoVien == Model.Item1.IdGiaoVien)
                                                {
                                                    <option value="@item.IdGiaoVien" selected="selected">@item.TenGv</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.IdGiaoVien">@item.TenGv</option>

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group login-btn">
                                        <button class="btn" type="submit">Chỉnh sửa</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


